.env
.env.backup
.phpunit.result.cache

/node_modules
/public/build
/public/hot

/storage/*.key
/storage/pail
/storage/framework/*
/storage/logs/*
!/storage/framework/.gitignore
!/storage/logs/.gitignore

/bootstrap/cache/*.php
/bootstrap/cache/*
!/bootstrap/cache/.gitignore

/vendor